.breadcrumbs {
  @include flex;
  background-color: $graylight-color;
  padding: 0 calc(50% - 1140px / 2);
  height: 148px;
}

.breadcrumbs__title_h1 {
  font-size: 24px;
  color: $pink-color;
}

.breadcrumbs__nav {
  color: $graydark-color;
  font-size: 14px;
  font-weight: 300;
}

.breadcrumbs__nav_active {
  color: $pink-color;
  font-weight: 700;
}
