.breadcrumbs {
  @include flex;
  background-color: $breadcrumb-bg;
  padding: 0 calc(50% - 1140px / 2);
  height: 148px;
}

.title__h1 {
  font-size: 24px;
  color: $pink-color;
}

.breadcrumbs__nav {
  color: $graydark-color;
  font-size: 14px;
  font-weight: 300;
}

.breadcrumbs__ol {
  @include flex;
}

.breadcrumbs__li {
  list-style-type: none;
  &::after {
    content: "/";
    margin: 0 5px;
  }
  &:last-child::after {
    content: none;
    margin: 0;
  }
}

.breadcrumbs__active {
  color: $pink-color;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    padding: 0 calc(50% - 738px / 2);
  }
}

@media screen and (max-width: 380px) {
  .breadcrumbs {
    padding: 0 calc(50% - 345px / 2);
    justify-content: center;
  }
}
