$primary-color: #222222;
$pink-color: #f16d7f;
$pinkmiddle-color: #f26376;
$pinklignt-color: #f1e4e6;
$pinkdark-color: #c63e51; 
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$graylight-color: #e1e1e1;
$graydark-color: #6f6e6e;
$productbackground: #f8f8f8;
