.feedback__col_1 {
  max-width: 360px;
  text-align: center;
}

.feedback__img {
  margin-bottom: 30px;
}

.feedback__size {
  font-size: 20px;
  line-height: 24px;
}

.feedback__style {
  font-style: italic;
}
