.footer {
  background-color: $primary-color;
  color: $gray-color;
  padding: 24px calc(50% - 1140px / 2);
  @include flex;
}

.footer__social {
  display: flex;
  align-items: flex-start;
}

.footer__link {
  color: $black-color;
  background-color: $white-color;
  padding: 5px;
  width: 31.45px;
  height: 32px;
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  color: $white-color;
  background-color: $pink-color;
}


@media screen and (max-width:768px) {
  .footer {
    padding: 24px calc(50% - 738px / 2) 32px;
  }
}

@media screen and (max-width:395px) {
  .footer {
    padding: 42px calc(50% - 345px / 2) 9px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer__social {
    margin-bottom:40px
  }
}