.navbar {
  padding: 0 calc(50% - 1140px / 2);
  @include flex;
  height: 75px;
}

.navbar__logo {
  width: 44px;
  height: 38px;
}

.navbar__search {
  width: 26px;
  height: 26.79px;
  margin-left: 41px;
}

.navbar__user-ico {
  margin-left: $NavbarIcon;
}

.navbar__basket-ico {
  margin-left: $NavbarIcon;
}
.navbar__link {
  fill: $white-color;
  &:hover {
    fill: $pink-color;
  }
}
