.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 18px 0 96px !important;
}

.pagination__container {
  border: 1px solid $graylight-color;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pagination__number,
.pagination__arrow,
.pagination__number_active {
  padding: 12px;
  color: $graylight-color;
  font-size: 16px;
  font-weight: 300;
  list-style-type: none;
}

.pagination__arrow_right:hover,
.pagination__arrow_left:hover {
  fill: $pink-color;
}

.pagination__number_active {
  color: $pink-color;
}

.pagination__arrow {
  color: $graylight-color;
}
