.registration {
  @include flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 0 96px;
}

.registration__colleft {
  max-width: $widthcol;
}

.registration__colright {
  width: 652px;
}

.form {
  @include flex;
}

.form__name {
  border: none;
  @include flexvertical;
}

.form__field {
  width: $widthcol;
}

.form__field_description {
  margin-bottom: 40px;
  width: $widthcol;
  color: #b1b1b1;
  font-size: 13px;
  line-height: 13px * 1.2;
}

.form__radio {
  border: none;
  @include flex;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.form__custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__custom + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__custom:not(:disabled):not(:checked) + label:hover::before {
  border-color: $pinkdark-color;
}

.form__custom:not(:disabled):active + label::before {
  background-color: $pinklignt-color;
  border-color: $pinklignt-color;
}

.form__custom:focus + label::before {
  box-shadow: 0 0 0 0.2rem $pinklignt-color;
}

.form__custom:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.form__custom:checked + label::before {
  border-color: $pink-color;
  background-color: $pink-color;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form__custom:disabled + label::before {
  background-color: #e9ecef;
}

.form__custom + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__radio_gender {
  font-size: 11px;
  font-weight: $weightlight;
  color: black;
  margin-left: 0px;
  margin-right: 20px;
  cursor: $pointer;
  margin-bottom: 33px;
}

input {
  padding: 14px 18px;
  border: #a4a4a4 1px solid;
  margin-bottom: 20px;
  &:placeholder {
    font-size: 13px;
    line-height: 16px;
    color: #b1b1b1;
    font-weight: $weightlight;
  }
}

.form__field_last {
  margin-bottom: 15px;
}

legend {
  font-weight: $weightlight;
  font-size: 16px;
  line-height: 16px * 1.25;
  margin-bottom: 20px;
  color: $primary-color;
}

.form__button {
  font-size: 14px;
  line-height: 14px * 1.2;
  background-color: $pink-color;
  color: $white-color;
  padding: 16px 29px 17px;
  cursor: $pointer;
  /*&::before {
    content: "";
    float: left;
    width: 17px;
    height: 9.92px;
    margin: 10px 22px 0 0;
    background: url(../img/arrow-right-form.svg) 0 0;
  }*/
  &:hover,
  &:focus {
    background-color: $pinkdark-color;
  }
}

.form__buttonicon {
  margin-left: 20px;
}

.registration__title {
  margin-bottom: 22px;
}

.registration__text {
  @include text;
  margin-bottom: 21px;
}

.registration__li {
  margin-bottom: 16px;
  list-style-type: none;
  &::before {
    content: "";
    float: left;
    width: 20px;
    height: 16px;
    margin: 10px 22px 0 0;
    background: url(../img/marker.svg) 0 0;
  }
}
