.subscribe {
  background-color: $white-color;
  padding: 90px calc(50% - 1140px / 2);
  @include flex;
  background: no-repeat center/80% url("../img/photo subscribe.jpg");
  background-size: cover;
}

.subscribe__col_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 32px;
}

.subscribe__desc {
  font-size: 18px;
  font-weight: 400;
}
.subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 14px;
}
