* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf) format("truetype"); /* все современные браузеры */
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf) format("truetype"); /* все современные браузеры */
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf) format("truetype"); /* все современные браузеры */
}

.hidden {
  position: absolute;
  left: -999999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}
.navbar {
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header_black {
  background-color: #222222;
  color: #fff;
}

.navbar__logo {
  width: 44px;
  height: 38px;
}

.navbar__search {
  width: 26px;
  height: 26.79px;
  margin-left: 41px;
}

.navbar__user-ico {
  margin-left: 33px;
}

.navbar__basket-ico {
  margin-left: 33px;
}

.promo {
  background-color: #f1e4e6;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__col_1,
.promo__col_2 {
  width: 50%;
}

.promo__col_1 {
  display: flex;
  justify-content: start;
}

.promo__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 48px;
  line-height: 0.8;
  margin-left: 16px;
  padding: 8px 0px 8px 16px;
  border-left: #f16d7f 12px solid;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color:#222222;
}

.promo__h2 {
  font-size: 32px;
}

.promo__color {
  color: #f16d7f;
}

.ofter {
  background-color: #fff;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  margin-top: 65px;
}

.ofter__col {
  width: 360px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ofter__col_1 {
  background: no-repeat center/80% url("../img/3.png");
  background-size: cover;
}
.ofter__col_2 {
  background: no-repeat center/80% url("../img/2.jpg");
  background-size: cover;
}
.ofter__col_3 {
  background: no-repeat center/80% url("../img/1.jpg");
  background-size: cover;
}

.ofter__acc {
  width: 100%;
  height: 180px;
  background: no-repeat center/80% url("../img/accesories.png");
  background-size: cover;
  margin-top: 30px;
}

.ofter__line_1 {
  font-size: 16px;
  text-align: center;
}
.ofter__line_2 {
  font-size: 24px;
  color: #f16d7f;
}

.product {
  background-color: #fff;
  padding: 0 calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__col {
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
}

.product__title {
  width: 100%;
  margin: 96px 0 48px;
  text-align: center;
}

.product__size {
  margin-bottom: 0 !important;
}

.product__desc {
  padding: 20px 16px;
}

.product__col h3 {
  margin-bottom: 12px;
}

.product__col p {
  margin-bottom: 18px;
  font-weight: 300;
  color: #5d5d5d;
}

.product__color {
  color: #f26376;
}

.product__button {
  width: 100%;
  margin: 18px 0 95px;
  text-align: center;
}

button {
  padding: 15px 39px 14px;
  border: #f26376 1px solid;
  background-color: transparent;
  color: #f26376;
}

.feature {
  background-color: #222224;
  color: #fbfbfb;
  padding: 103px calc(50% - 1140px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feature__col {
  width: 360px;
}

.feature__ico {
  margin-bottom: 20px;
  height: 40px;
}
.feature__title {
  margin-bottom: 16px;
}
.feature__desc {
  padding: 0 15px;
  font-size: 14px;
  color: #fbfbfb;
  font-weight: 300;
}

.subscribe {
  background-color: #fff;
  padding: 90px calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  background: no-repeat center/80% url("../img/photo subscribe.jpg");
  background-size: cover;
}

.feedback__col_1 {
  max-width: 360px;
  text-align: center;
}

.feedback__img {
  margin-bottom: 30px;
}

.feedback__size {
  font-size: 20px;
  line-height: 24px;
}

.feedback__style {
  font-style: italic;
}

.subscribe__col_2 {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.subscribe__desc {
  font-size: 18px;
  font-weight: 400;
}

.footer {
  background-color: #222224;
  color: #fff;
  padding: 24px calc(50% - 1140px / 2);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
