@import "var";
@import "Colors";
@import "Filter";
@import "mixins";
@import "Pagination";
@import "Breadcrumbs";
@import "Feedback";
@import "Footer";
@import "Form";
@import "Header";
@import "Product";
@import "Animation";
@import "Icons";
@import "Navbar";
@import "Subscribe";
@import "Video";
@import "Registration";
@import "sections/Promo";
@import "sections/Feature";
@import "sections/Ofter";
@import "sections/Product";

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf) format("truetype"); /* все современные браузеры */
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf) format("truetype"); /* все современные браузеры */
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf) format("truetype"); /* все современные браузеры */
}

.hidden {
  position: absolute;
  left: -999999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.wrap {
  width: $desktop;
  margin: 0 auto;
}

h3 {
  font-size: 24px;
  line-height: 24px * 1.2;
  font-weight: $weightlight;
}