.product {
  background-color: $white-color;
  padding: 0 calc(50% - 1140px / 2);
  @include flex;
}
.product__col {
  width: 360px;
  background-color: $productbackground;
  margin-bottom: 30px;
  overflow: hidden;
  min-height: 281px;
  position: relative;
}

.product__col:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.product__col:hover {
  opacity: 1;
}

.product__overlay:hover {
  opacity: 1;
  transition: 1s;
}

.product__title {
  width: 100%;
  margin: 96px 0 48px;
  text-align: center;
}

.product__size {
  margin-bottom: 0 !important;
}

.product__desc {
  padding: 20px 16px;
}

.product__col h3 {
  margin-bottom: 12px;
}

.product__col p {
  margin-bottom: 18px;
  font-weight: 300;
  color: $graydark-color;
}

.product__color {
  color: $pinkmiddle-color;
}

.product__button {
  width: 100%;
  margin: 18px 0 95px;
  text-align: center;
}

.product__buttonlink {
  color: $pinkmiddle-color;
  text-decoration: none;
  padding: 15px 39px 14px;
  border: $pinkmiddle-color 1px solid;
  background-color: transparent;
  transition: 0.5s;
  &:hover,
  &:focus {
    color: $white-color;
    border: $pinkmiddle-color 1px solid;
    background-color: $pinkmiddle-color;
    transition: 0.5s;
  }
}

.product__select_img:hover,
.product__filter_sort_img:hover {
  fill: $pink-color;
}
